<div class="container m-2 p-2">

    <h5>Login</h5>

    <div *ngIf="getIsAuth()" class="row">
        <button (click)="onLogout()" class="btn btn-danger" >Sign Out</button>
    </div>

    <div *ngIf="!getIsAuth()" class="row">
        <form (ngSubmit)="onLogin(f)" #f="ngForm" class="form">

            <div class="form-group">
                <label for="email">Email : </label>
                <input name="email" type="text" ngModel required class="form-control" />
            </div>

            <div class="form-group">
                <label for="password">Password : </label>
                 <input name="password" type="password" ngModel required class="form-control"/>
            </div>

            <button type="submit" [disabled]="f.invalid" class="btn btn-success">Sign In</button>
        </form>
    </div>

</div>